@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --Lightcyan:hsl(193, 38%, 86%);
    --Neongreen:hsl(150, 100%, 66%);
    --GrayishBlue:hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
    --ff-Manrope:"manrope",san-serif;
}

html{
    background-color:var(--DarkBlue);
    min-height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;


}
body{
    background-color:var(--DarkBlue);
    font-size: 28px;
    font-weight: 800;
    font-family: var(--ff-Manrope);
}

main{
    background-color: var(--DarkGrayishBlue);
    position: relative;
}

p{
    color: var(--Neongreen);
    letter-spacing: 8px;
}

h2{
    color: var(--Lightcyan);
}

.divider-img{
    width:100%
}

.dice-container{
    min-width:5%;
    border-radius:100%;
    height:46px;
    position: absolute;
    bottom:-20px;
    left: 48%;
    background-color: var(--Neongreen);
}
.dice-container img{
    width:50%;
}
.dice-container:hover{
    box-shadow: 0 0 18px var(--Neongreen);
    cursor: pointer;
}
